<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="/index/script2.min.js"></script>
<title> SolidMedia - Home </title>
<link rel="stylesheet" href="/index/style2.min.css">

<script src="https://kit.fontawesome.com/8dd91d71f4.js" crossorigin="anonymous"></script>
</head>
<body>
<nav>
<div class="nav-left">
	<img src="/images/logo.png" alt="Logo" class="logo">
<ul>
<li><img src="/images/notification.png" alt="Notification icon"></img></li>
<li><img src="/images/inbox.png" alt="Inbox icon"></img></li>
<li><img src="/images/video.png" alt="Video icon"></img></li>
</ul>
</div>
<div class="nav-right">
<div class="search-box">
<img src="/images/search.png" alt="Search icon"></img><input type="text" placeholder="Search" alt="Search Box"></input>
</div>
<div class="nav-user-icon online" id="user-profile">
<img src="/images/profile-pic.png" alt="Profile Pic" class="profile-picture-js"></img>
</div>
</div>
<!--- SETTINGS MENU -->
<div class="settings-menu">


    <div id="dark-btn">
        <span></span>
    </div>
    <div class="settings-menu-inner">
        <div class="user-profile">
            <img src="/images/profile-pic.png" alt="" class="profile-picture-js" id="user-profile-edit">
         <div>
             <p>
                 Saahil (beta)
                <a href="/profile/me">See your profile </a>
             </p>
         </div>   
        </div>
    <hr>
        <div class="user-profile">
            <img src="/images/feedback.png" alt="">
         <div>
             <p>
                Give feedback
                <a href="#">Help us to improve my code</a>
             </p>
         </div>   
        </div>
    <hr>
<div class="setting-links" id="setting-links">
    <img src="/images/setting.png" alt="" class="settings-icon">
    <a href="#">Settings & no-privacy <img src="/images/arrow.png" width="10px" alt=""></a>
</div>
<div class="setting-links" id="setting-links">
    <img src="/images/help.png" alt="" class="settings-icon">
    <a href="#">Daddy help me <img src="/images/arrow.png" width="10px" alt=""></a>
</div>
<div class="setting-links" id="setting-links">
    <img src="/images/display.png" alt="" class="settings-icon">
    <a href="#">display <img src="/images/arrow.png" width="10px" alt=""></a>
</div>
<div class="setting-links" id="setting-links">
    <img src="/images/logout.png" alt="" class="settings-icon">
    <a href="/logout">Logout!! <img src="/images/arrow.png" width="10px" alt=""></a>
</div>
    </div>
</div>
</nav>
<div class="container">
<!-- LEFT SIDEBAR -->
<div class="left-sidebar">
<div class="imp-links">
<a href="#news"><img src="/images/watch.png"></img>Watch </a>
<a href="#news"><img src="/images/friends.png"></img> Friends</a>
<a href="#">See more</a>
</div>
<div class="shortcut-links">
    <p>Your Shortcuts maybe</p>
    <a href="#"><img src="/images/shortcut-1.png" alt=""> Web Developers</a>
    <a href="#"><img src="/images/shortcut-1.png" alt=""> Web design course</a>
    <a href="#"><img src="/images/shortcut-1.png" alt=""> Full stack</a>
    <a href="#"><img src="/images/shortcut-1.png" alt="">Website Experts</a>
</div>
</div>
<!-- Main Content -->
<div class="main-content">
    <div class="story-gallery">
        <div class="story story1">
            <img src="/images/upload.png" alt="">
            <p> Post  a story </p>
        </div>
    </div>


    <div class="write-post-container">
        <div class="user-profile">
            <img src="/images/profile-pic.png" alt="" class="profile-picture-js">
         <div>
             <p>
                 Saahil (beta)
                 <small> Public <i class="fas fa-caret-down"></i></small>
             </p>
         </div>   
        </div>
        <div class="post-input-container">
<textarea placeholder="Whats on your mind." rows="3"></textarea>
<div id="images-post">

</div>
<div class="add-post-links">
    <a href="#"><img src="/images/live-video.png" alt="">Live Video</a><a href="#" role="button" id="photo"><img src="/images/photo.png" alt="" >Photo<input type="file" accept="image/*" name="image" style="opacity:0;width:0;height:0;" id="img-input" /></a><a href="#"><img src="/images/feeling.png" alt="">Feling/activity</a>
</div>
        </div>
    </div>
    <div class="post-container">
        <div class="post-row">
            <div class="user-profile">
                <img src="/images/profile-pic.png" alt="" >
             <div>
                 <p>
                     Saahil (beta)
                  
                 </p>
                 <span>June Daddy 2022, 69:69</span>
             </div>   
             
        </div>
        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
        </div>
<p class="post-text"> Some guy named <span>@Saahil</span> with an ad here <a href="#">#Test</a></p>
<img src="/images/feed-image-1.png" alt="" class="post-img">
<div class="post-row">
<div class="activity-icons"> 
<div><img src="/images/like-blue.png" alt="">120</div>
<div><img src="/images/comments.png" alt="">45</div>
<div><img src="/images/share.png" alt="">120</div>
</div>
<div class="post-profile-icon">
    <img src="/images/profile-pic.png"><i class="fas fa-caret-down"></i>
</div>

</div>
    </div> 
	<div class="post-container">
        <div class="post-row">
            <div class="user-profile">
                <img src="/images/profile-pic.png" alt="">
             <div>
                 <p>
                     Saahil (beta)
                  
                 </p>
                 <span>June Daddy 2022, 70:1</span>
             </div>   
             
        </div>
        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
        </div>
<p class="post-text"> Some guy named <span>@Saahil</span> with an ad here <a href="#">#Test</a></p>
<img src="/images/feed-image-2.png" alt="" class="post-img">
<div class="post-row">
<div class="activity-icons"> 
<div><img src="/images/like-blue.png" alt="">120</div>
<div><img src="/images/comments.png" alt="">45</div>
<div><img src="/images/share.png" alt="">120</div>
</div>
<div class="post-profile-icon">
    <img src="/images/profile-pic.png"><i class="fas fa-caret-down"></i>
</div>

</div>
    </div>
    <button type="button" class="load-more-btn"> Load More</button>
</div>
<!-- RIGHT SIDEBAR -->

<div class="right-sidebar">
    <div class="sidebar-title">
        <h4>Events</h4>
        <a href="#">See all</a>
    </div>


    <div class="event">
        <div class="left-event">
<h3 id="myeventdateday"></h3>
<span id="myeventdatemonth">
</span>
        </div>
        <div class="right-event">
            <h4> Social Media is working</h4>
            <i class="fas fa-map-marker-alt"></i><p> Your house!</p>
            <a href="/events/{id}/view">More Info</a>
                    </div>
   
            </div>
            <div class="event">
                <div class="left-event">
        <h3 id="">69</h3>
        <span id="">imdyingggggggggg
        </span>
    
                    </div>
                    <div class="right-event">
                        <h4> Social Media is working</h4>
                        <i class="fas fa-map-marker-alt"></i><p> Your house!</p>
                        <a href="/events/{id}/view">More Info</a>
                </div>
                </div>
        <div class="sidebar-title">
            <h4>Advertisement</h4>
            <a href="#">Close</a>
        </div>
        <img src="/images/advertisement.png" style="width: 100%;margin-bottom: 20px;border-radius: 4px; ">
    


    <div class="sidebar-title">
        <h4>Convorsation</h4>
        <a href="#">Hide chat</a>
    </div>

    <div class="online-list">
        <div class="online">
            <img src="/images/member-1.png" alt="Member 1">
        </div>
        <p> Saahil </p>
    </div>
 
    </div>
</div>
</div>

<div class="footer">
    <p> Copyright 2022 -  Me</p>
</div>
</body>
</html>